*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
}
nav{
    background: black;
    height: 70px;
    width: 100%;
}
a.logo{
    position: relative;
    left: 50px;
    
}
nav ul{
    float: left;
    padding-left: 80px;
    font-size: 15px;
    color: white;
    
}

.nav-btn
{
    float: right;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-right: 40px;
    border: 2px solid white ;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    color: white;
}

.nav-btn:hover{
    background-color:  white;
    outline: none;
    color: black;
    cursor: pointer ;
    
}
nav ul li{
    color: white;
    display: inline-block;
    line-height: 65px;
    padding: 0px 15px;
    letter-spacing: 0.5px;
    position: relative;
    left: 5px;
    
}

.top:hover{
    color: wheat;
    transition: .5s;
}
.login{
    font-size: 18px;
    font-family: sans-serif;
}
.log{
    padding: 40px 70px 30px 50px;
    position: absolute;
    left: 150px;
    top: 270px;
    background:black;
    border-radius: 25px;
    opacity: 80%;
    text-align: left;
    
}
.form input{
    color: #fff;
    border-bottom: 1px solid silver;
}
.input{
    margin: auto;
    border-bottom: 1px solid silver;
    padding-top: 10px;
    background: transparent;
    outline: none;
    border: none;
    padding-bottom: 10px;
    color: black; 
    width: 250px; 
    height: 30px;
    
}
@media (max-width: 640px){
    .main{
        flex-basis: 100%;
    }
}

.bg{    
    width: 100%;
    height: 624px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.biospectrumindia.com/uploads/articles/1-12281.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    
}
.about-section{
    width: 100%;
    height: 550px;
    background-color: white;
    padding-top: 20px;
}
.in-about{
    width: 50%;
    height: 500px;
    float: right;
}
.about-text{
    font-size: 50px;
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;   
    color: black;
}
.about-text p{
    font-size: 18px;
    width: 500px;
    line-height: 25px;
    color: black;
    padding-top: 20px;
}
.about-img img{
    padding-left: 100px;
    margin-top: 80px;
}

.about-btn{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid black ;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    color: black;
    
}

.about-btn:hover{
    background-color:  black;
    outline: none;
    color: white;
    cursor: pointer ;
    
}

.services
{   
    width: 100%;
    height: 500px;
    background-color:wheat;
    /* padding-top: 20px; */
}

.service
{
    width: 33.3%;
    height: 500px;
    /* border: 1px solid black; */
    float: right;
    text-align: center;
    padding-top: 80px;
    
}

.service h1
{
    color: black;
    font-family: 'Roboto', sans-serif;

}

.service p
{
    /* width: 50%;  */
    text-align: center  ;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
}

.service-one
{
    width: 80%;
    height: 400px;
    background-color: whitesmoke;
    margin-left: 30px ;
    margin-top: -30px;
    padding-top: 45px;
}

.footer
{
    width: 100%;
    height: 380px;
    background-color: black;
}

.tbl
{
    width: 160px;
    height: 300px;
    margin-left: 50px;
    float: left;
}

.tbl tr th
{
    font-size: 35px;
    font-family: 'Roboto', Sans-serif;
    padding-top: 50px;
    color: white;
}

.tbl tr td
{
    font-size: 20px;
    font-family: 'Roboto', Sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    color: white;
    cursor: pointer;
}

.tbl tr td:hover
{
    transform: scale(1.1) translateX(3px);
}

.line-btm
{
    width: 3px;
    height: 300px;
    background-color: white;
    float: left;
    margin: 25px 0px 0px 30px;
}

.subs
{
    width: 350px;
    height: 350px;
    /* background-color: red; */
    float: left;
    margin: 0px 0px 0px 80px;
    color: black;
}
h2
{
    font-size: 35px;
    font-family: 'Roboto', Sans-serif;
    padding-top: 50px;
    color: white;   
}
.btm-frm input
{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Roboto', Sans-serif;
    outline: none;
}

.btn
{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    font-family: 'Roboto', Sans-serif;
    font-size: 20px;
    border-radius: 0px;
    outline: none;
    border: none; 
    color: black;
}

.btn:hover
{
    background: transparent;
    border: 2px solid white;
    color:white;
    cursor: pointer;
}

.sm-icon
{
    width: 100%;
    height: 100px;
    background-color: rgb(10,10,10);
}

.sm-icon p
{
    width: 60%;
    height: 20px;
    /* background-color: aquamarine; */
    font-family: 'Roboto', Sans-serif;
    font-size: 18px;
    padding: 40px 0px 0px 0px;
    color: rgb(40, 40, 40);
    float: left;
    margin-left: 150px;
}

.social-icon 
{
    padding: 20px 0px 0px 0px;
}

.social-icon img
{
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 10px 0px 0px 20px;
    background-color: white;
    border-radius: 5px;
}

.social-icon img:hover
{
    transform: scale(1.2);
    transition: 0s;
    cursor: pointer;
}






@media(max-width:767px){
    .main-foot{
        width: 100%;
    }
}

@media(max-width:767px){
    nav{
        width: 100%;
    }
}

@media(max-width:767px){
    .con{
        width: 100%;
    }
}